					<div id="footer">
						<ul class="links">
							<li><a href="/privacy">Privacy Policy</a></li>
							<li><a href="/terms">Terms &amp; Conditions</a></li>
							<li><a href="/contact">Contact Us</a></li>
						</ul>
						<p class="copyright">Copyright &copy; 2013 - Copyright &copy; 2015. All Rights Reserved</p>
						<p class="disclaimer">This product is not for use by or sale to persons under the age of 18. This product should be used only as directed on the label. It should not be used if you are pregnant or nursing. Consult with a physician before use if you have a serious medical condition or use prescription medications. A Doctor's advice should be sought before using this and any supplemental dietary product. These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Individual results will vary. By using this site you agree to follow the Privacy Policy and all Terms & Conditions printed on this site. Void Where Prohibited By Law. </p>
					</div><!-- END footer -->