
					<div id="header" class="section">
						<a href="/" class="logo">{{{img src="images/logo.png" alt="" class="dualAction"}}}</a>
						{{{img src="images/dual-action.png" alt="" class="dualAction"}}}
					</div><!-- END header -->

					<div id="topNavi" class="section">
						{{{navmenu page}}}
					</div><!-- END topNavi -->