<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Forskol</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!--[if lt IE 9]>
	  <script src="js/html5shiv.min.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="fruitBg" class="noBg">
		<div id="mainWrapper" class="container">
			<div class="row">
				<div id="wrapper">
					
					{{> header}}
					
					<div id="contact">
						<p class="title">Contact Us</p>
						<p>Please email us support@forskol.com and we will respond to you within 24 hours. Customer Satisfaction is very important to us so please let us know if you have any questions, comments, or suggestions.</p>
						<p>You can also call us toll free 24/7 at 1-888-353-0643</p>
						<p>Bio Source Science Inc.<br/>
						1180 N town Center Dr Ste 100<br/>
						Las Vegas, NV 89144</p>
					</div><!-- END contact -->
					
					{{> footer}}
				</div><!-- END wrapper -->
			</div><!-- END row -->
		</div><!-- END mainWrapper -->
	</div><!-- END fruitBg -->
	
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>