<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Forskol</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!--[if lt IE 9]>
	  <script src="js/html5shiv.min.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="fruitBg" class="noBg">
		<div id="mainWrapper" class="container">
			<div class="row">
				<div id="wrapper">
					
					{{> header}}
					
					<div id="faqs">
						<dl>
							<dt>How do I contact you?</dt>
							<dd>
								<p>You can contact us at 1-888-353-0643. We are available 24/7.</p>
								<p>You can also email us at support@forskol.com</p>
							</dd>
							
							<dt>Is this product pure?</dt>
							<dd>
								<p>Yes, the Forskol formula is 100% pure.</p>
								<p>The standards that should be kept in mind when choosing a Forskolin extract  are:</p>
								<ul>
									<li>Forskol isn’t something that has a lot of extra ingredients such as binders and fillers.</li>
									<li>The product needs to be 100% pure and contained within a tablet.</li>
									<li>This Forskolin extract product is manufactured in an FDA Registered facility.</li>
								</ul>
								<p>Our product meets all of these standards.</p>
							</dd>
							
							
							<dt>How much does it cost?</dt>
							<dd>
								<p>We offer the following packages:</p>
								<ul>
								 	<li>5 bottles of Forskol for $133.00 (plus tax) free shipping and handling);</li>
								    <li>4 bottles of Forskol for $97.98 (plus tax) free shipping and handling);</li>
								    <li>1  bottle of Forskol for $58.00 (plus tax) free shipping and handling. </li>
									<li>You can order by calling us at 1-888-353-0643</li>
								</ul>
							</dd>
							
							<dt>Where is my receipt?</dt>
							<dd>
								<p>You will get a receipt emailed to you after your order goes through. Please check your spam folder, in case it has been mislabeled How long does it take for my order to arrive? / Where is my order?</p>
								<p>3 to 7 days on average through USPS priority mail.</p>
								<p>How do I return my product?</p>
								<p>Please contact a customer service representative for a RMA number.</p>
								<p>For this, you will need a return reason and will have to be within 30 days of ordering.</p>
							</dd>
						</dl>
					</div><!-- END faqs -->
					
					{{> footer}}
				</div><!-- END wrapper -->
			</div><!-- END row -->
		</div><!-- END mainWrapper -->
	</div><!-- END fruitBg -->
	
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>