<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Forskol</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!--[if lt IE 9]>
	  <script src="js/html5shiv.min.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="fruitBg" class="noBg">
		<div id="mainWrapper" class="container">
			<div class="row">
				<div id="wrapper">
					
					{{> header}}
					
					<div id="contact">
						<div class="left" style="width:auto;">
						  <h2>Terms of Service</h2>
						  <p>Welcome to forskol.com and thank you for considering our products. forskol.com’s products and services are subject to the following terms and conditions. Please read this information carefully before placing any orders. You will be asked if you understand and agree to the terms and conditions of forskol.com as set forth in this Terms of Sales and Service ("Agreement"). By checking the "Order Now" buton, you agree to the terms and conditions of this Agreement which, along with the understanding of the mutual promises You and We make to each other, then becomes a binding contract between Forskol, (hereinafter "We", "Us" or "Our") and You. </p>
						  <p>1. <b>PRIVACY POLICY:</b> The forskol.com Privacy Policy is located at <a href="/privacy">http://www.forskol.com/privacy</a> and is hereby incorporated into this Agreement by reference. Please review the Privacy Policy to understand the forskol.com policies. You hereby agree to abide by Our Privacy Policy at all times. </p>
						  <p>2. <b>INTENDED FOR USERS OVER 18:</b> forskol.com website is intended only for use by individuals 18 years of age or older. If you have not yet reached the age of 18, please leave this site immediately. </p>
						  <p>3. <b>Products Offered</b>: Forskol is manufactured in a GMP certified laboratory in the US.</p>
						  <p>Our product is offered in varying packages for purchase as follows:</p>
						  <ul type="disc">
						    <li>5 bottles of Forskol for $79.80 (plus tax, shipping and handling);</li>
						    <li>4 bottles of Forskol for $65.32 (plus tax, shipping and handling);</li>
						    <li>1  bottle of Forskol for $58.00 (plus tax). </li>
					      </ul>
						  <p>You can select any of the above options on our order page.</p>
						  <p>4. <b>PURCHASE OPTIONS</b>: Your Purchase Options Are Listed Above:</p>
						  <p>5. <b>REFUND POLICY:</b> If You are unhappy with product for any reason, forskol.com offers a refund for the most recent product delivered within thirty (30) days.<br>
						    <br>
						    In order to obtain your full refund, contact customer service by phone or email and obtain an RMA (Return Merchandise Authorization) number to place on your package. Write this number on the outside of the shipping package, and send the product back to our fulfillment center at the address listed below, within thirty (30) days of the date your product was originally delivered. In order for your full refund to be processed, the product must arrive at our fulfillment facility within thirty (30) days of the original delivery date. You pay for return shipping. There is a $5.00 restocking fee per unit returned. This fee will be deducted from the refund issued. Once our fulfillment center has received the package and relayed the correct information to us, you will be issued a refund. Your refund will be credited back to your bank account, and may take up to 3-5 business days to show on your statement, depending on your bank’s speed of processing.<br>
						    <br>
						    <b>Please ship to the following address:</b> <br>
						    <br>
						    Forskol<br/>
						    1180 N town Center Dr Ste 100<br/>
						    Las Vegas, NV 89144<br>
						    <br>
						    <b>Note:</b> All shipping and handling charges are non-refundable. </p>
						  <p>6. <b>SHIPPING POLICY:</b> Order details are processed 24-hours after You input Your order and Your charge is accepted. This is done to ensure the accuracy of the address and give time for You or forskol.com Customer Service to contact the You if the address comes back incorrect from our fulfillment center. Including processing and handling, the most You should wait for a US domestic shipping time is three (3) to five (5) business days using USPS Parcel Post Mail.<br>
						    IMPORTANT: We cannot be responsible for orders that are stolen off porches after the products are delivered. If you live in an area where this could be an issue, PLEASE request signature confirmation or acquire a PO Box for delivery. </p>
						  <p>7. <b>WARRANTY:</b> <b>forskol.com SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. YOU EXPRESSLY AGREE THAT USE OF ANY SERVICE OFFERED BY forskol.com IS AT YOUR OWN RISK. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, forskol.com DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, ANY WARRANTY OF MERCHANTABLITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. forskol.com DOES NOT MAKE ANY WARRANTY THAT ITS SERVICE WILL MEET YOUR REQUIREMENTS, OR THAT ANY SERVICE OFFERED BY forskol.com WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE, OR THAT DEFECTS, IF ANY, WILL BE CORRECTED; NOR DOES forskol.com MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF ANY PRODUCT OR SERVICE OFFERED BY forskol.com OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH ANY SERVICE OFFERED BY forskol.com. YOU UNDERSTAND AND AGREE THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF ANY SERVICE OFFERED BY forskol.com IS AT YOUR OWN DISCRETION AND RISK, AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA. forskol.com DOES NOT MAKE ANY WARRANTY REGARDING ANY GOODS OR SERVICES PURCHASED OR OBTAINED THROUGH OR FROM ANY SERVICE OFFERED BY forskol.com OR ANY TRANSACTIONS ENTERED INTO BY USE OF OR THROUGH ANY SERVICE OFFERED BY forskol.com. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM forskol.com OR THROUGH ANY SERVICE OFFERED BY forskol.com SHALL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. </b></p>
						  <p>8. <b>LIMITATION OF LIABILITY: UNDER NO CIRCUMSTANCES, INCLUDING, WITHOUT LIMITATION, NEGLIGENCE, SHALL forskol.com OR ITS PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, OR SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES RESULTING FROM THE USE OR THE INABILITY TO USE ANY SERVICE OFFERED BY forskol.com, OR FOR THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES, OR RESULTING FROM ANY GOODS OR SERVICES PURCHASED OR OBTAINED, OR MESSAGES RECEIVED, OR TRANSACTIONS ENTERED INTO BY MEANS OF OR THROUGH ANY SERVICE OFFERED BY forskol.com, OR RESULTING FROM UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, OR OTHER INFORMATION THAT IS SENT OR RECEIVED OR NOT SENT OR RECEIVED, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, USE, DATA, OR OTHER INTANGIBLES, EVEN IF forskol.com HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU ALSO AGREE THAT forskol.com SHALL NOT BE RESPONSIBLE OR LIABLE TO YOU, OR TO ANYONE, FOR THE STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON OR ARISING FROM USE OF ANY SERVICE OFFERED BY forskol.com. IF YOU ARE DISSATISFIED WITH ANY SERVICE OFFERED BY forskol.com YOUR EXCLUSIVE REMEDY IS TO DISCONTINUE USE OF THE SERVICE WITHOUT REFUND OF ANY KIND WHATSOEVER. </b></p>
						  <p>9. <b>FORCE MAJEUR: </b>Neither party shall be liable for delays or nonperformance of this Agreement caused by strike, fire or accidents, nor shall either party be liable for delay or nonperformance caused by lack of availability of materials, fuel or utilities or for any other cause beyond its control. </p>
						  <p>10. <b>ASSIGNMENT:</b> You may not assign Your rights or obligations under this Agreement without Our prior written consent. </p>
						  <p>11. <b>TERM OF AGREEMENT: </b>Either party may terminate this Agreement at any time for any reason or for no reason. </p>
						  <p>12. <b>MODIFICATION:</b> We reserve the right to modify this Agreement at any time by sending You an email notification. If You do not agree with the modification to this Agreement Your sole remedy is to cease doing business with Us. </p>
						  <p>13. <b>NOTICES:</b> All notices to Us under this Agreement shall be in writing and shall be delivered: a) personally; b) by express overnight courier; or c) by United States Mail, registered or certified, return receipt requested, postage prepaid to the address recorded above for Client, unless specified otherwise below. Notices shall be deemed received on the date of personal delivery, the date of actual receipt as indicated on the delivery notice or return receipt or the date the receipt is refused; whichever is earlier. </p>
						  <p>14. <b>SEVERABILITY: </b>If any provision, or portion thereof, of this Agreement is held by a court of competent jurisdiction to be invalid under any applicable statute or rule of law, You understand and agree that such invalidity shall not affect the validity of the remaining portions of the Agreement and understand and agree that We may substitute for the invalid provision a valid provision which most closely approximates the intent and economic effect of the invalid provisions. </p>
						  <p>15. <b>SECTION TITLES:</b> The section titles in the Agreement are for convenience only and have no legal or contractual effect. </p>
						  <p>16. <b>ENTIRE AGREEMENT: </b>This Agreement sets forth the entire agreement between the parties. You acknowledge and agree that You have reviewed this Agreement in its entirety, and every part thereof, and that You understand the Agreement. You further acknowledge and agree that You have had the opportunity to review this Agreement and otherwise consult with Your independent counsel as to the Agreement. </p>
						  <p>17. <b>ELECTRONIC SIGNATURES: YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS AND OTHER RECORDS AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED THROUGH THE SITE OR SERVICES OFFERED BY US. FURTHER, YOU HEREBY WAIVE ANY RIGHTS OR REQUIREMENTS UNDER ANY STATUTES, REGULATIONS, RULES, ORDINANCES OR OTHER LAWS IN ANY JURISDICTION, WHICH REQUIRE AN ORIGINAL SIGNATURE OR DELIVERY OR RETENTION OF NON-ELECTRONIC RECORDS.</b></p>
					  </div>
						<p class="title">&nbsp;</p>
					</div><!-- END contact -->
					
					{{> footer}}
				</div><!-- END wrapper -->
			</div><!-- END row -->
		</div><!-- END mainWrapper -->
	</div><!-- END fruitBg -->
	
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>