<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Forskol</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!--[if lt IE 9]>
	  <script src="js/html5shiv.min.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="fruitBg" class="noBg">
		<div id="mainWrapper" class="container">
			<div class="row">
				<div id="wrapper">
					

					
					{{> header}}
					
					<div id="testimonials" class="section">
						<span class="note">Individual Results May Vary</span>
						<div class="mainTitle">
							<img src="images/testimonials-title.png" alt="" class="title"/>
							<img src="images/testimonials-subtitle.png" alt="" class="subtitle"/>
						</div>
						<img src="images/real-results.png" alt="" class="realResults"/>
						
						<div class="feedbacks">
							<div class="row">
								<div class="col-xs-12 col-sm-4 feedback">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis.</p>
									
									<div class="info visible-xs">
										<img src="images/gregory-pic.jpg" alt="" class="pic"/>
										<span class="name"><strong>Gregory, F.</strong>Atlanta, Ga</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 feedback">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis.</p>
									
									<div class="info visible-xs">
										<img src="images/lisa-pic.jpg" alt="" class="pic"/>
										<span class="name"><strong>Lisa, R.</strong>Dallas, TX</span>
									</div>	
								</div>
								<div class="col-xs-12 col-sm-4 feedback">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis.</p>
									
									<div class="info visible-xs">
										<img src="images/denise-pic.jpg" alt="" class="pic"/>
										<span class="name"><strong>Denise, H.</strong>Seattle, WA</span>
									</div>		
								</div>
							</div>
						</div>
						
						<div class="infos hidden-xs">
							<div class="row">
								<div class="col-xs-4 by">
									<div class="info">
										<img src="images/gregory-pic.jpg" alt="" class="pic"/>
										<span class="name"><strong>Gregory, F.</strong>Atlanta, Ga</span>
									</div>
								</div>
								<div class="col-xs-4 by">
									<div class="info">
										<img src="images/lisa-pic.jpg" alt="" class="pic"/>
										<span class="name"><strong>Lisa, R.</strong>Dallas, TX</span>
									</div>						
								</div>
								<div class="col-xs-4 by">
									<div class="info">
										<img src="images/denise-pic.jpg" alt="" class="pic"/>
										<span class="name"><strong>Denise, H.</strong>Seattle, WA</span>
									</div>							
								</div>
							</div>
						</div>
					</div><!-- END testimonials -->
					
					<div id="offer">
						<img src="images/offer-bg.jpg" alt="" class="bg"/>
						<img src="images/special-bottles.png" alt="" class="bottles"/>
						<img src="images/offer-title.png" alt="" class="title"/>
						<img src="images/offer-subtitle.png" alt="" class="subtitle"/>
						<img src="images/offer-arrow.png" alt="" class="arrow"/>
						<a href="/" class="button"><img src="images/order-btn.png" alt=""/></a>
					</div><!-- END offer -->
					
					{{> footer}}
				</div><!-- END wrapper -->
			</div><!-- END row -->
		</div><!-- END mainWrapper -->
	</div><!-- END fruitBg -->
	
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>