<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link href="css/style.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">

	<!--[if lt IE 9]>
	  <script src="js/html5shiv.min.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="innerPage">
	<div id="mainWrapper">
	
		<div id="discountWrapper">
			<div id="discount" class="section">
				<p><span>SPECIAL DISCOUNT ACTIVATED!</span> - <span>FREE SHIPPING</span> &amp; 50% DISCOUNT TODAY</p>
			</div><!-- END discount -->
		</div><!-- END discountWrapper -->
		
		<div id="wrapper" class="section">
			<div id="header">
				<a href="#" class="logo"><img src="images/inner-logo.png" alt=""/></a>
				<img src="images/seals.png" alt="" class="seals"/>
			</div><!-- END header -->
			
			<p id="heading"><span>Final Step -</span> Payment Information</p>
			
			<div id="order" class="clearfix">
				<div class="left">
				
					<div class="offer first selected">
						<div class="caption"><p>Buy 3 Bottles &amp; <em>Get 2 Free Bottles</em></p><span><em>FREE</em>SHIPPING</span></div>
						<div class="details">
							<span class="check"><img src="images/offer-check.png" alt=""/></span>
							<div class="info">
								<p class="title">Best Selling Package<span>5 Bottle Monster Plan!</span></p>
								<p class="price">$39.10<span>/ea</span><em>Only $195.50</em></p>
								<p class="stock">In Stock. Current Sell-Out Risk: <span>High</span></p>
							</div>
							<img src="images/product-bottle.png" alt="" class="bottle one"/>
							<img src="images/product-bottle.png" alt="" class="bottle two"/>
							<img src="images/product-bottle.png" alt="" class="bottle three"/>
							<img src="images/product-bottle.png" alt="" class="bottle four"/>
							<img src="images/product-bottle.png" alt="" class="bottle five"/>
							<img src="images/plus-sign.png" alt="" class="plusSign"/>
						</div>
						<img src="images/best-choice.png" alt="" class="bestChoice"/>
						<input type="radio" class="radioBtn" name="offerType" value="one"/>
					</div>
				
					<div class="offer second">
						<div class="caption"><p>Buy 2 Bottles &amp; <em>Get 1 Free Bottle</em></p><span><em>FREE</em>SHIPPING</span></div>
						<div class="details">
							<span class="check"><img src="images/offer-check.png" alt=""/></span>
							<div class="info">
								<p class="title">Tier Two Pachage<span>3 Bottle Moderate Plan!</span></p>
								<p class="price">$43.44<span>/ea</span><em>Only $130.33</em></p>
								<p class="stock">In Stock. Current Sell-Out Risk: <span>High</span></p>
							</div>
							<img src="images/product-bottle.png" alt="" class="bottle two"/>
							<img src="images/product-bottle.png" alt="" class="bottle three"/>
							<img src="images/product-bottle.png" alt="" class="bottle four"/>
							<img src="images/plus-sign.png" alt="" class="plusSign"/>
						</div>
						<input type="radio" class="radioBtn" name="offerType" value="two"/>
					</div>
				
					<div class="offer third">
						<div class="caption"><p>Buy 1 Bottle</p></div>
						<div class="details">
							<span class="check"><img src="images/offer-check.png" alt=""/></span>
							<div class="info">
								<p class="title">Sampler Package<span>1 Bottle Test Plan</span></p>
								<p class="price">$65.17<span>/ea</span></p>
								<p class="stock">In Stock. Current Sell-Out Risk: <span>High</span></p>
							</div>
							<img src="images/product-bottle.png" alt="" class="bottle"/>
						</div>
						<input type="radio" class="radioBtn" name="offerType" value="three"/>
					</div>
					
					<div class="shippingDetails">
						<img src="images/usps.jpg" alt="" class="courier"/>
						<table>
							<tr><th>Shipping Type:</th><td>FREE Priority Shipping</td></tr>
							<tr><th>Package Type:</th><td>3 Bottles + 2 Free Bottles</td></tr>
							<tr><th>Shipping Price:</th><td>$0.00</td></tr>
							<tr><th>Your Total:</th><td>$195.50</td></tr>
							<tr><th>456.30</th><td>You Save $325.90</td></tr>
						</table>
					</div>
				</div><!-- END left -->
				
				<div class="right">
					<p class="title"><img src="images/padlock01.png" alt=""/> Pay With a Credit or Debit Card</p>
					<div class="details clearfix">
						<p class="cards"><img src="images/payment-cards.png" alt=""/></p>
						<label>Billing address summary<a href="#" class="editBtn">Edit</a></label>
						<address>123 Sesame<br/>St. Oakville, ON<br/>90210</address>
						<div class="field">
							<label for="cardNumber">Card Number</label>
							<input type="text" placeholder="• • • •   • • • •   • • • •   • • • •" class="textbox" id="cardNumber"/>
						</div>
						
						<div class="field securityCode">
							<label for="securityCode">Security Code</label>
							<input type="textbox" placeholder="• • •" id="securityCode" class="textbox"/>
							<a href="#">?</a>
						</div>
						
						<div class="field expiration">
							<label for="expiryMonth">Expiration</label>
							<select id="expiryMonth"><option>MM</option></select> / <select id="expiryYear"><option>YY</option></select>
						</div>
					</div>
					
					<a href="#" class="orderBtn"><img src="images/order-btn-yellow-big.png" alt=""/></a>
					
					<p class="secureConnection">This is a 256-Bit Secure SSL Connection</p>
					
					<div class="safeSecure">
						<p class="caption">100% Safe and Secure Transaction</p>
						<img src="images/go-daddy.png" alt="" class="goDaddy"/>
						<div class="siteLock">
							<img src="images/site-lock.png" alt=""/>
							<span>Passed <em>10-MAR-2015</em></span>
						</div>
						<p class="nameApear">The charge will appear on your card as<br/>forskolinextract12321412</p>
					</div>
					
					<div class="shopConfidence">
						<p class="caption"><span>SHOP WITH CONFIDENCE</span>FORSKOL.COM IS SAFE AND SECURE. GUARANTEED!</p>
						<p>You’ll pay nothing if unauthorized charges are made to your credit card as a result of shopping at Forskol.com</p>
						<p class="privacy"><span>YOUR PRIVACY IS IMPORTANT!</span>All Information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol.</p>
					</div>
				</div><!-- END right -->
				
				<div class="terms">
					<p class="title">Terms and conditions</p>
					<p>Any statements on this site or any materials or supplements distributed or sold by www.pureforskolinextract.com has not been evaluated by the Food and Drug Administration (FDA). This product is not intended to diagnose, treat, cure or prevent any disease. If you are pregnant, nursing, taking medication, or have a history of heart conditions we suggest consulting with a physician before using any of our products. The results on all products are not typical and not everyone will experience these results. &nbsp;<a href="#">Read More</a></p>
				</div>
			</div><!-- END order -->
		</div><!-- END wrapper -->

		<div id="weAccept" class="section">
			<div class="col-sm-4 leftSide">
				<p>We Accept:</p>
				<img src="images/cards-accept.png" alt=""/>
			</div>
			<div class="col-sm-8 rightSide">
				<p>We Accept:</p>
				<img src="images/we-accept.png" alt=""/>
			</div>
		</div><!-- END weAccept -->
		
		<div id="footer" class="section">
			<ul class="links">
				<li><a href="privacy.html" target="_blank">Privacy Policy</a></li>
				<li><a href="terms.html" target="_blank">Terms of Use</a></li>
				<li><a href="contact.html" target="_blank">Contact Us</a></li>
			</ul>

			<p class="disclaimer">This product is not for use by or sale to persons under the age of 18. This product should be used only as directed on the label. It should not be used if you are pregnant or nursing. Consult with a physician before use if you have a serious medical condition or use prescription medications. A Doctor's advice should be sought before using this and any supplemental dietary product. All trademarks and copyrights are the property of their respective owners and are not affiliated with nor do they endorse Forskolin Extract. These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Two human clinical trials suggest that ingestion of Forskolin Extract can lead to a reduction in weight or body fat, copies of which may be found here: <a href="#">Clinical Study Link 1</a> and <a href="#">Clinical Study Link 2</a>. Individual weight loss results will vary. By using this site you agree to follow the Privacy Policy and all Terms & Conditions printed on this site. Void Where Prohibited By Law.<br/>*FREE Bottles given with 2, 3, and 4 Bottle package only.</p>
		</div><!-- END footer -->
		
	</div><!-- END mainWrapper -->
	
	<div id="popupWrapper">
		<div id="popup">
			<a href="#" class="closeBtn">close (x)</a>
			<p class="title">Edit billing address</p>
			<div class="field"><label for="firstName">FIRST NAME</label><input type="text" class="textbox" id="firstName"/><div class="clear"></div></div>
			<div class="field"><label for="lastName">LAST NAME</label><input type="text" class="textbox" id="lastName"/><div class="clear"></div></div>
			<div class="field"><label for="address">ADDRESS</label><input type="text" class="textbox" id="address"/><div class="clear"></div></div>
			<div class="field"><label for="city">CITY</label><input type="text" class="textbox" id="city"/><div class="clear"></div></div>
			<div class="field"><label for="country">COUNTRY</label><select id="country"><option>United States</option></select><div class="clear"></div></div>
			<div class="field"><label for="state">STATE</label><select id="state"><option>Select State</option></select><div class="clear"></div></div>
			<div class="field"><label for="zip">ZIP</label><input type="text" class="textbox" id="zip"/><div class="clear"></div></div>
			<div class="field"><label for="phone">PHONE</label><input type="text" class="textbox" id="phone"/><div class="clear"></div></div>
			<div class="field"><label for="email">EMAIL</label><input type="text" class="textbox" id="email"/><div class="clear"></div></div>
			<a href="#" class="updateBtn"><img src="images/update-btn.png" alt=""/></a><a href="#" class="cancelBtn"><img src="images/cancel-btn.png" alt=""/></a>
		</div>
	</div><!-- END popupWrapper -->	
	
	<script>
		var config = {
			DEBUG : true,
			COUNTRYCODE : "US",
			ZIPLOOKUP : true,
			PAGETYPE : 'order',
			PRODUCTS : {{{stringify products }}},
			DEFAULTPRODUCTID: 0
		}
	</script>
	<script src="http://d18vbrc4uccp1v.cloudfront.net/release/main.js"></script>

</body>
</html>